h1
{
color:black;
text-align:center;
font-size:20pt;
}
h2
{
color:black;
text-align:center;
font-size:12pt;
}
table
{
width:900px;
}
th
{
text-align:"left";
}
th1
{
text-align:"right";
}
td1
{
text-align:"right";
}
p25
{
text-align:"left";
}
p20
{
text-align:"right";
}