
h1
{
color:black;
text-align:center;
font-size:20pt;
}
p1
{
color:red;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p2
{
color:orange;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p3
{
color:yellow;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p4
{
color:green;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p5
{
color:blue;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;

}
p6
{
color:violet;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
#dialog
{
top:PosY;
left:PosX;
width:50 px;
height;20 px;
background: #FFFFFF;
border:2px solid #cecece;
z-index: 2;
padding:4px;
}
#dialog h1
{
text-align:center;
color:Black;
border-bottom:1px;
padding-bottom:1px;
margin-bottom:1px;
}
#closeDialog
{
font-size:8px;
right:6px;
top:4px;
position:absolute;
}
